<!DOCTYPE html>
<html>
<head lang="pt-br">	
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'TwitterTopicsApp/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'TwitterTopicsApp/style.css' %}">	
    <title>CloudTT - APP</title>	
</head>
<body>
    <h1>CloudTT - Matters of the Moment</h1>
    <img src="{% static 'TwitterTopicsApp/nuvem.png' %}"/>
    <div id="trendings">
        <ul>
            <li id="title"> WorldWide TT Cloud</li>
            <li id="tt1"> {{ tt1 }} </li>
            <li id="tt2"> {{ tt2 }} </li>
            <li id="tt3"> {{ tt3 }} </li>
            <li id="tt4"> {{ tt4 }} </li>
            <li id="tt5"> {{ tt5 }} </li>
            <li id="tt6"> {{ tt6 }} </li>
            <li id="tt7"> {{ tt7 }} </li>
            <li id="tt8"> {{ tt8 }} </li>
            <li id="tt9"> {{ tt9 }} </li>
            <li id="tt10"> {{ tt10 }} </li>
        </ul>
    </div>
</body>
</html>